* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

.navbarLinks {
    text-decoration: none;
    font-weight: 500;
    color: #333333;
    font-size: 1.2rem;
}

.addAdminModal {
    width: max-content;
    height: max-content;
    background: white;
    border-radius: 1rem;
    margin: 5rem auto;
    padding: 1rem;
}

.accordions .accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):focus {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px !important;
}

.addAdminForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
